@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&display=swap');
@import './partials/auth.css';
@import './partials/navbar.css';
@import './partials/home.css';
@import './partials/searchResult.css';

:root {
  --white: #fff;
  --black: #191414;
  --grey: #7f7f7f;
  --green: #57b660;
  --darkGreen: #1db954;
  --lightGreen: #1ed760;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background: var(--black);
  color: var(--white);
  overflow: hidden;
}
h1 {
  font-family: 'Bitter', serif;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.5;
  margin-bottom: 1em;
}
h1.logo {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0;
}
h2, h3 {
  font-family: 'Bitter', serif;
  font-size: 1.5rem;
  font-weight: 500;
}
a {
  text-decoration: none;
  color: var(--darkGreen);
}
a:hover {
  color: var(--lightGreen);
}
.hide {
  display: none;
}
.wrapper {
  padding-top: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.error-msg {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 2rem;
}