.auth__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 1em;
}
.auth__form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 2em 0;
  width: 250px;
  max-width: 320px;
}
.auth__form > label {
  margin-bottom: .5em;
}
.auth__form > input {
  margin-bottom: 1em;
  height: 40px;
  border: 1px solid var(--black);
  border-radius: 10px;
  padding-left: .5em;
}
.auth__form > input.wrong {
  border: 2px solid red;
  margin: 0;
}
.auth__error {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: red;
  margin: .25em 0 .5em;
}
.auth__err .material-icons {
  font-size: 24px;
  vertical-align: middle;
}
.auth__btn {
  height: 50px;
  margin: .5em 0;
  padding: .5em 1em;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  color: var(--white);
  background-image: linear-gradient(var(--darkGreen), var(--green));
  border: 1px solid var(--green);
  outline: none;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.auth__btn:hover {
  background-image: linear-gradient(to bottom, var(--darkGreen), var(--lightGreen));
  transform: scaleX(1.05);
}
