.form form {
  display: flex;
  flex-direction: column;
  width: 250px;
  max-width: 320px;
}
.form form label {
  margin-bottom: .5em;
}
.form form input,
.form form textarea {
  font-family: 'Montserrat', sans-serif;
  border: 1px solid var(--black);
  border-radius: 10px;
  margin-bottom: 1em;
  padding-left: .5em;
}
.form form input {
  height: 40px;
  width: 100%;
}
.form form textarea {
  padding-top: .5em;
}