.home__container__carousel {
  display: flex;
  width: 100%;
}
.home__container__carousel .result__recipe {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  position: relative;
}
.home__container__carousel .result__recipe img {
  width: 98%;
}
.home__container__carousel .resutl__recipe__details {
  position: absolute;
  top: 0;
  left: 0%;
  transition: 1s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 1em;
  display: none;
  transition: all 500ms ease-in-out;
}
.home__container__carousel .result__recipe__details button {
  border: none;
  background: transparent;
  color: var(--white);
  display: flex;
  justify-content: flex-end;
}
.home__container__carousel .resutl__recipe:hover .recipe__details {
  display: flex;
}