.home__container__carousel .carousel .result {
  box-shadow: 5px 10px 10px rgba(0,0,0,.3);
  transition: all 300ms ease-in-out;
  padding: 1em;
}
.home__container__carousel .carousel.no-slide .result img {
  opacity: .85;
}
.home__container__carousel .carousel.no-slide .result img:hover {
  opacity: 1;
}
.home__container__carousel .carousel.no-slide .result .result__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home__container__carousel .carousel.no-slide .result .result__details h4 {
  text-transform: capitalize;
}
.home__container__carousel .carousel.no-slide .result .result__details button {
  border: none;
  background: transparent;
  color: red;
}
