.home__container__carousel {
  display: flex;
  width: 100%;
}
.home__container__carousel .carousel .result {
  display: flex;
  flex-flow: column wrap;
}
.home__container__carousel .carousel .result img {
  width: 98%;
  opacity: .85;
}
.home__container__carousel .carousel .result img:hover {
  opacity: 1;
}
.home__container__carousel .carousel .result .result__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 .5em;
}
.home__container__carousel .carousel .result .result__details button {
  border: none;
  background: transparent;
  color: red;
}
